* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
body {
  background-image: url(../img/sfondo.png);
  font-family: 'Lato', sans-serif;
}
/* header */
header {
  background-color: #FEFE3A;
  margin-bottom: 5px;
}
h1{
  margin-bottom: 20px;
  border: 3px solid white;
  display: inline-block;
  padding: 3px 5px;
}
.header-top {
  height: 200px;
  background-image: url(../img/img-natural.jpg);
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  text-align: center;
}
/* /header */
/* main */
main {
  margin: 1% 0;
}
.left, .central, .right {
  float: left;
}
main::after {
  content:"";
  display: table;
  clear: both;
}

/* colonna sx */
.left {
  width: 24%;
  background-color: #CC87DA;
}
/* /colonna sx */
/* colonna centrale */
.central {
  width: 48%;
  background-color: #730671;
  margin: 0% 2% 1%;
}
/* /colonna centrale */
/* colonne dx */
/* prima colonna dx */
.right {
  width:24%;
}
/* /prima colonna dx */
/* seconda colonna dx */
.widget {
  background-color: #CC87DA;
  margin-bottom: 5%;
}
/* /seconda colonna dx */
/* /colonne dx */
/* /main */

/* footer */
footer {
  height: 100px;
  background-color: #A4D2E1;
}
