* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 1vh;
}
/* header */
header {
  height: 15vh;
  background-color: #FEFE3A;
  margin-bottom: 1vh;
}
/* /header */
/* main */
main {
  height: 70vh;
  margin: 1vh 0;
}
/* colonna sx */
.left {
  float:left;
  height: 70%;
  width: 24%;
  background-color: #CC87DA;
}
/* /colonna sx */
/* colonna centrale */
.central {
  float: left;
  height: 100%;
  width: 48%;
  background-color: #730671;
  margin: 0% 2% 1%;
}
/* /colonna centrale */
/* colonne dx */
/* prima colonna dx */
.right {
  float: left;
  height: 40%;
  width:24%;
  background-color: #CC87DA;
}
/* /prima colonna dx */
/* seconda colonna dx */
.bottom-right {
  float: left;
  height: 40%;
  width: 24%;
  background-color: #CC87DA;
  margin-top: 1%
}
/* /seconda colonna dx */
/* /colonne dx */
/* /main */

/* footer */
footer {
  height: 10vh;
  background-color: #A4D2E1;
}
